<mat-accordion [hideToggle]="hideToggle">
  <mat-expansion-panel
    *ngFor="let panelItem of panelItems"
    [expanded]="panelItem.isExpanded"
    [disabled]="panelItem.isDisabled"
  >
    <mat-expansion-panel-header
      class="header"
      [class.disabled-pointer]="hideToggle"
    >
      <mat-panel-title>
        <span class="row">
          <mat-icon class="column header-icon">account_circle</mat-icon>
          <span class="column">
            <span class="header-title-container">
              <span class="header-title">{{ panelItem.panelTitle }}</span>
              <mat-icon
                *ngIf="panelItem.titleInfoTooltip"
                [matTooltip]="panelItem.titleInfoTooltip"
                >info</mat-icon
              >
            </span>
            <span class="header-subtitle">{{ panelItem.panelSubTitle }}</span>
          </span>
        </span>
      </mat-panel-title>
      <button
        *ngIf="panelItem.displayButton"
        mat-raised-button
        color="primary"
        (click)="onButtonClick($event, panelItem)"
        class="header-button"
        [class.no-margin]="hideToggle"
      >
        {{ panelItem.buttonText }}
      </button>
    </mat-expansion-panel-header>
    {{ panelItem.content }}
  </mat-expansion-panel>
</mat-accordion>
